@import '../../styles/colors.scss';
@import '../../styles/spacing.scss';
@import '../../styles/typography.scss';

.Listing-page {
  .MovieListing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: rem-calc(40);
    grid-row-gap: rem-calc(40);
    .list-card {
      display: flex;
      align-items: center;
      justify-self: center;
      flex-direction: column;
      width: 100%;
      border-radius: 12px;
      background: $orc-almost-white;
      transition: 0.3s filter linear, 1s -webkit-filter linear;
      &:hover {
        filter: drop-shadow(9px 9px 16px rgba(133, 137, 172, 0.25));
      }
      &__thumbnail {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: $orc-white;
        padding: rem-calc(12);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        img {
          max-width: 100%;
          max-height: 20vw;
        }
      }
      &__footer {
        width: 100%;
        padding: rem-calc(24);
        &__title {
          display: flex;
          @include orc__18--semibold;
        }
      }
    }
  }
}
