@import '../../styles/colors.scss';
@import '../../styles/typography.scss';
@import '../../styles/spacing.scss';

.landing-page {
  &__left {
    .movie-details {
      padding: 26px;
      border-radius: 12px;
      background: $orc-almost-white;
      filter: drop-shadow(9px 9px 16px rgba(133, 137, 172, 0.25));
      &__title {
        @include orc__64--semibold;
        color: $orc-blue--primary;
        margin-bottom: rem-calc(84);
      }
      &__cta {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
  &__right {
    user-select: none;
    .image-carousel {
      display: flex;
      justify-content: center;
      .posterArt {
        position: relative;
        &:hover {
          .posterArt__overlay {
            opacity: 1;
          }
        }
        &__overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.5s ease;
          background-color: rgba(#000000, 0.4);
          display: flex;
          align-items: center;
          justify-content: space-between;
          .controller {
            max-height: rem-calc(64);
            max-width: rem-calc(64);
            min-height: rem-calc(64);
            min-width: rem-calc(64);
            &__left {
              margin-left: rem-calc(-32);
            }
            &__right {
              margin-right: rem-calc(-32);
            }
            .arrow-icon {
              font-size: rem-calc(24);
              color: $orc-almost-white;
            }
          }
        }
        &__thumbnail {
          max-height: 80vh;
          max-width: 100%;
          width: unset;
          object-fit: contain;
        }
      }
    }
  }
}
