@import '../../styles/colors.scss';
@import '../../styles/spacing.scss';

@mixin primaryButton {
  background: $orc-bulb---mid;
  border-radius: 18px;
  color: $orc-white;
  border: none;
  border-color: none;
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0px 0px 2px 2px $orc-bulb--mid-light;
    border: unset;
  }
}
.ORCButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: rem-calc(10) rem-calc(16);
  min-width: rem-calc(120);
  &--primary {
    @include primaryButton();
  }
  &--secondary {
    background: transparent;
    border-radius: 18px;
    border: 1px solid $orc-grey;
    color: $orc-bulb---mid;
    &:hover {
      border-color: $orc-bulb---mid;
    }
  }
  &--circle {
    border-radius: 50%;
    min-width: unset;
  }
}
