@rbase-white: #ffffff;
@rbase-neutral-base: #a2a6a9;

@orc-white: #f9fbff;
@orc-grey: #eaecf1;

@orc-blue--primary: #293a80;
@orc-blue--secondary: #9fc1ea;

@orc-box-shadow: 9px 9px 16px 0px #8589ac40;
