@use "sass:math";

$default-gutter: 16px;
@function rem-calc($pixels, $gutter: $default-gutter) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($gutter)) {
    $gutter: $gutter * 1px;
  }

  @return math.div($pixels, $gutter) * 1rem;
}
