@import 'node_modules/antd/dist/antd.less';

//! THIS FILE SHOULD ONLY CONTAIN VARIABLE DEFINITIONS FOR ANT DESIGN
//! If there's a change, run update-antd.sh
//* Ant Colors & Styles can be overwritten here. Just use the variable names from
//* https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

//* Shopee design system variables [For reusability]
@primary-color: #293a80;
@layout-header-padding: 0 64px;
@layout-header-background: #ffffff;
@border-radius-base: 22px;
@btn-text-hover-bg: #9fc1ea;
@btn-font-weight: 600;
@typography-title-margin-bottom: 0;
@layout-body-background: #f9fbff;
@layout-footer-background: #eaecf1;
@btn-default-color: #293a80;
@btn-default-bg: #ffffff;
@btn-default-border: #9fc1ea;
@card-radius: 8px;
@table-border-radius-base: 0;
@text-color: #010038 //#endregion
;
